- model_class = Task
.card
  .card-header
    %h3= t '.title', :default => model_class.model_name.human.pluralize.titleize, class: "card-body"
  .card-body
    .card-text
      - if @project.tasks.size > 0
        %table.table
          %thead.thead-dark
            %tr
              %th= model_class.human_attribute_name(:title)
              %th= model_class.human_attribute_name(:description)
              %th= model_class.human_attribute_name(:completed)
              %th= t '.actions', :default => t("helpers.actions")
          %tbody
            - @project.tasks.each do |task|
              %tr
                %td= task.title
                %td= task.description
                %td= task.completed
                %td
                  = link_to t('Show'), tenant_project_task_path(project_id: @project.id), class: 'main-link mr-3'

                  = link_to t('Edit'), edit_tenant_project_task_path(project_id: @project.id), class: 'main-link mr-3'

                  = link_to t('.destroy', :default => t("helpers.links.destroy")), tenant_project_task_path(project_id: @project.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
      - else
        %p.lead You don't have any tasks
      = link_to 'New Task', new_tenant_project_task_path(project_id: @project.id), :class => 'btn btn-primary'
