- model_class = Task

%p#notice= notice
.row
  .col-md-6.offset-md-3
    .card
      .card-header
        %h3
          Task: ##{@task.id}
      .card-body
        .card-text
          %p
            %b Title:
            = @task.title
          %p
            %b Decription:
            = @task.description
          %p
            %b Completed:
            = @task.completed
      .card-footer
        = link_to 'Edit', edit_tenant_project_task_path(tenant_id: Tenant.current_tenant_id)
        \|
        = link_to 'Back', tenant_project_path(tenant_id: Tenant.current_tenant_id, id: @task.project_id)

