= form_for @user_project, :html => { :class => "form-horizontal user_project" } do |f|
  - if @user_project.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@user_project.errors.count, "error")
          prohibited this user_project from being saved:
      .panel-body
        %ul
          - @user_project.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :project_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :project_id, :class => 'form-control'
    = f.error_span(:project_id)
  .form-group
    = f.label :user_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :user_id, :class => 'form-control'
    = f.error_span(:user_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), user_projects_path, :class => 'btn btn-default'
