- model_class = UserProject
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:project_id)
      \:
  %dd= @user_project.project_id
  %dt
    %strong
      = model_class.human_attribute_name(:user_id)
      \:
  %dd= @user_project.user_id
= link_to t('.back', :default => t("helpers.links.back")), user_projects_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_project_path(@user_project), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_project_path(@user_project), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
