- model_class = Project
.row.mb-5
  .col-md-12
    .card
      .card-header
        %h3
          Project: #{@project.title}
        %h3
          %small
            Organization: #{tenant_name @project.tenant_id}
      .card-body
        .card-text
          %table.table
            %thead.thead-dark
              %tr
                %th= model_class.human_attribute_name(:title)
                %th= model_class.human_attribute_name(:details)
                %th= model_class.human_attribute_name(:expected_completion_date)
            %tbody
              %tr
                %td= @project.title
                %td= @project.details
                %td= @project.expected_completion_date
.row
  .col-md-12
    = render 'artifacts/list', artifacts: @project.artifacts
    %br/
  .col-md-12
    = render 'tasks/list', tasks: @project.tasks
    %br/
%ul.nav.justify-content-center
  %li.nav-item
    = link_to '< Back to Organization Home', root_path, :class => 'nav-link'
  %li.nav-item
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_tenant_project_path(project: @project, tenant: @project.tenant_id),  :class => 'nav-link'
  %li.nav-item
    = link_to 'Edit Project Users', users_tenant_project_path(tenant_id: @project.tenant_id, id: @project.id), :class => 'nav-link'
  %li.nav-item
    = link_to t('.destroy', :default => t("helpers.links.destroy")),tenant_project_path(@project.tenant, @project),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",:default => 'Are you sure?')) },:class => 'nav-link disabled'
