= form_for @artifact, :html => { :class => "form-horizontal artifact" } do |f|
  - if @artifact.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@artifact.errors.count, "error")
          prohibited this artifact from being saved:
      .panel-body
        %ul
          - @artifact.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .control-group
    = f.label :upload, value: 'File to upload', :class => 'control-label'
    .controls
      = f.file_field :upload, :class => 'form-control'
  = f.hidden_field :project_id
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tenant_project_path(tenant_id: Tenant.current_tenant_id, id: @artifact.project_id), :class => 'btn btn-default'
