%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  = link_to ("<i class='fa fa-rocket'></i> " +'Project Management App').html_safe, root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.justify-content-between
      - if current_user && current_user.is_admin?
        %li.nav-item
          = link_to "<i class='fa fa-users'></i> Add Members".html_safe, new_member_path, class: 'nav-link'
        %li.nav-item
          = link_to "<i class='fa fa-briefcase'></i> Change Plan".html_safe, edit_plan_path, class: 'nav-link'
    %ul.navbar-nav
      - if current_user
        %li.nav-item
          = link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile', class: 'nav-link'
        %li.nav-item
          = link_to('Logout', destroy_user_session_path, class: 'btn btn-danger', title: 'Logout', :method => :delete)
      - else
        %li.nav-item
          = link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In')
