<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CRDCProjectManagementApp" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <%= render 'common/navbar' %>
  <%= bootstrap_flash %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <%= yield %>
      </div>
    </div><!--/row-->

    <footer>

    </footer>

  </div> <!-- /container -->


  </body>
</html>
